services:
  ticket-service-api-server:
    container_name: ticket-service-api-server-dev
    build:
      context: ../../
      dockerfile: ./docker/development/Dockerfile.dev
    restart: always
    image: ticket-service-api-server-dev
    env_file: ../../.env.dev
    ports:
      - "3000:3000"
    volumes:
      - ../../src:/app/src
      - /app/node_modules
    depends_on:
      ticket-service-db:
        condition: service_healthy
    networks:
      - ticket-service-net
    healthcheck:
      test:
        [
          "CMD",
          "ping",
          "http://localhost:${APP_PORT:-3000}/api/v1/health-check",
        ]
      interval: 30s
      timeout: 10s
      retries: 5

  ticket-service-db:
    container_name: ticket-service-db-dev
    image: postgres:18.1
    restart: always
    env_file: ../../.env.dev
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql
    networks:
      - ticket-service-net
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER:-postgres}", "-d", "tickets"]
      start_period: 30s
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  pg_data:

networks:
  ticket-service-net:
    driver: bridge
